$font-primary: "Roboto", "Arial", sans-serif;
$color-accent: #447ade;
$color-accentHover: #886630;
$color-text: #222222;
$color-white: #ffffff;
$color-black: #000000;
$unit: 8px;
$speed: 0.2s;
$transition: 0.5s $speed;
$mobile: 320px;
$s: 375px;
$ms: 600px;
$tablet: 768px;
$tabletV: 1024px;
$md: 1280px;
$l: 1366px;
$desktop: 1440px;
$xl: 1600px;
$hd: 1920px;